<div class="chatContainer">
    <div class="messageContainer">
        <div>
            <b>Name: </b>
            <%= messages[id].user %>
        </div>
        <div>
            <b>Text: </b>
            <%= messages[id].text %>
        </div>
        <div>
            <b>Date: </b>
            <%= messages[id].added %>
        </div>
    </div>
</div>